:root {
  --text: #3e4651;
  --bg: #f5f7fa;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 16px/1.5 var(--sans);
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
}

button,
input,
select {
  font-family: inherit;
}

#root {
  min-height: 100svh;
}

h1,
h2,
p {
  margin-top: 0;
}
